<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Achievement System Manager">
            <directory>./AchievementTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../module/Achievement/</directory>
            <exclude>
                <directory>../module/Achievement/test</directory>
                <directory>../vendor</directory>
                <file>../module/Achievement/test/Boostrap.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
