<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Achievement System Manager">
            <directory>./AchievementTest</directory>
        </testsuite>
    </testsuites>

    <!-- <logging>
        <log type="coverage-html" target="coverage"/>
        <log type="testdox-html" target="coverage/testdox.html"/>
        <log type="testdox-text" target="coverage/testdox.txt"/>
        <log type="coverage-clover" target="logs/clover.xml"/>
        <log type="coverage-crap4j" target="logs/crap4j.xml"/>
        <log type="coverage-xml" target="logs/coverage"/>
        <log type="junit" target="logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>  -->

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../</directory>
            <exclude>
                <file>../test/Bootstrap.php</file>
                <directory>../../../vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    
    <php>
        <var name="DB_DSN" value="sqlite:./data/db/ams.sqlite" />
        <var name="DB_USER" value="" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_DBNAME" value="" />
    </php>
    
</phpunit>
